{#
/**
 * @file
 * Default theme implementation for the marquee render element.
 *
 * Available variables:
 * - attributes: Attributes for the marguee tag.
 * - content: The text to display within the marquee tag.
 *
 * @ingroup themeable
 * @ingroup render_example
 */
#}
{{ attach_library('my_theme/my-theme.css') }}

<div class="custom-list">
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% for item in list_items %}
    <div class="custom-list--wrap">
      <h3>{{ item.title }}</h3>
      <i>{{ item.author }}</i>
      <div class="custom-list--description">
        {{ item.description }}
      </div>
    </div>
  {% endfor %}
</div>
